<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="attendance" format=":int&lt;attendance_id&gt;/:page" controller="Pad:Attendance" context="attendance"/>
  <route route_type="public" route_prefix="attendance" format=":int&lt;attendance_id&gt;/:page" controller="Pad:Attendance" context="attendance"/>
</routes>
