.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

/* .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
} */

#aboutSection {
  background: #2d2118
    url(https://beersurveys.com/Scripts/default/assets/css/images/middle-bg.jpg)
    no-repeat left top;
  background-size: cover;
  color: white;
  padding-top: 60px;
}

.about-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.block:after,
.block:before,
.about-container:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  content: " ";
}

#about-body {
  background: #fff;

  color: #707478;
  font-size: 12px;

  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  background: #fafafa
    url(https://beersurveys.com/Scripts/default/assets/css/images/main_back.jpg)
    no-repeat left top;
}
h3 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.25;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#aboutSection .about-title:after {
  background: #fdfdfd;
}

.main-content {
  padding: 100px 15px 65px;
}

#aboutSection .about-title {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
}

.main-content .about-title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top: 0;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #3d3121;
  font-weight: 300;
}

.main-content .about-title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top: 0;
}
.main-content .about-title:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  background: #242a30;
  height: 2px;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}

#aboutSection p.about-desc {
  color: white;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

#aboutSection p {
  color: white;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}

.main-content .about-desc {
  text-align: center;
  margin-bottom: 60px;
  color: #242a30;
}

.block {
  margin: 0 -10px;
  margin-right: -15px;
  margin-left: -15px;
}

.block:before,
.block:after {
  display: table;
  content: " ";
}

.block:after {
  clear: both;
}

.block > [class*="col-"] {
  padding: 0 10px;
}
.block-md-6,
.block-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.section-author {
  position: relative;
  padding-top: 50px;
  margin: 0px 10px;
}

.section-author .advice {
  position: relative;
  padding: 30px 60px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.bg-advice {
  background: #1a110b;
}

.advice {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}

#aboutSection .section-author .quote h3 {
  color: white;
}
#aboutSection h3 {
  font-size: 30px;
  color: #ffc13c;
}
.section-author .quote h3 {
  margin: 0;
  font-weight: 300;
  color: #707478;
  font-style: italic;
  line-height: 42px;
}

.section-author .quote h3 {
  margin: 0;
  font-weight: 300;
  color: #707478;
  font-style: italic;
  line-height: 30px;
}

.section-author .author {
  position: relative;
  text-align: right;
  padding-left: 0px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.section-author .author {
  position: relative;
  text-align: right;
  padding-left: 100px;
  margin-bottom: 15px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-author .author .author-image {
  position: absolute;
  right: 0px;
  top: -40px;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  left: auto;
}

.section-author .author .author-image {
  position: absolute;
  left: -10px;
  top: -40px;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 100px;
  overflow: hidden;
}

.section-author .author {
  position: relative;
  text-align: right;
  padding-left: 0px;
  margin-bottom: 15px;
  margin-top: 10px;
}

section-author .author .author-image img {
  max-width: 100%;
}
.section-author .author .author-image {
  position: absolute;
  right: 0px;
  top: -40px;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 120px;
  overflow: hidden;
  left: auto;
}

.section-author .author .name {
  color: #ffb92f;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}
/* .section-author .author .name {
    color: #242a30;
    font-weight: 600;
    font-size: 14px;
} */

.section-author .author .name small {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.section-author .author .name small {
  display: block;
  /* color: #999; */
  font-size: 12px;
  font-weight: 400;
}
.small,
small {
  font-size: 85%;
}
small {
  font-size: 80%;
}

.section-author .author .name small a {
  color: #ffc13c;
  text-decoration: none;
}
.section-author .quote:before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 175px;
  border: 10px solid transparent;
  border-top-color: #130803;
  border-left-color: #130803;
  left: auto;
}

.section-author .fa.fa-quote-left,
.section-author .fa.fa-quote-right {
  color: white;
}

.section-author .fa.fa-quote-left,
.section-author .fa.fa-quote-right {
  font-size: 14px;
  position: absolute;
  left: 30px;
  margin-top: -14px;
  line-height: 28px;
  top: 30px;
  color: #d5d9da;
}
.quote .fa-quote-left,
.quote .fa-quote-right {
  color: #fff;
  font-size: 14px;
  position: relative;
  top: -14px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
div {
  display: block;
}

@media (min-width: 1200px) {
  .about-container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .about-container {
    width: 970px;
  }
  .block-md-6 {
    width: 50%;
    float: left;
  }
}

.section-author .quote h3 {
  margin: 0;
  font-weight: 300;
  color: #707478;
  font-style: italic;
  line-height: 42px;
}

@media (min-width: 768px) {
  /* .about-container {
    
    width: 750px;
    /* width: 910px; 

} */

  /* .block-sm-12 {
    width: 100%;
   
} */
}

@media (max-width: 768px) {
  #aboutSection .about-title {
    font-size: 24px;
  }
  .display-none {
    display: none;
  }
}

/* MainContent */

.main-wrapper {
  background: #040200
    url(https://beersurveys.com/Scripts/default/assets/css/images/main-bg.jpg)
    no-repeat left top;
  padding-bottom: 30px;
}



.banner-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.banner-container:before {
  display: table;
  content: " ";
  box-sizing: border-box;
}

.banner-container:after {
  clear: both;
  display: table;
  content: " ";
}

.box-block {
  margin: 0 -10px;
  margin-right: -15px;
  margin-left: -15px;
}
.box-block:before {
  display: table;
  content: " ";
}
.box-block h1{
    font-family: 'Oswald';
    color: white;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 300;
	 text-align: center;
	  margin-top: 0px;
}

.box-block:after {
  clear: both;
  display: table;
  content: " ";
}

.box-block > [class*="col-"] {
  padding: 0 10px;
}

.inline-md-5,
.inline-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.banner-left-side {
  text-align: left;
  
    
    margin-left: 10%;
}



.banner-left-side h2 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.25;
  font-family: inherit;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.banner-left-side p {
  font-size: 24px;
  color: white;
  line-height: 36px;
  margin-bottom: 20px;
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.banner-left-side span {
  color: #ffc13c;
  font-weight: 700;
}

.banner-left-side .btn-banner-theme {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: background-color 0.125s ease, border-color 0.125s ease, color 0.125s ease;
    transition: background-color 0.125s ease, border-color 0.125s ease, color 0.125s ease;
    font-size: 13px;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    text-align: center;
    color: #f5f6f9;
    background: #63b2f5;
    border-color: #4ba6f3 #7bbef7 #7bbef7 #4ba6f3;
}
/* .btn.btn-banner-theme {
    background: #00acac;
    border-color: #00acac;
    color: #fff;
} */


a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

.video-box {
  background: #040201;
  padding: 30px 30px 10px;
}

.video-box h2 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.25;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.video-box h2 span {
  color: #ffc13c;
}

.video-box-script {
  border: 2px solid #927656;
  margin-bottom: 15px;
}
.video-box img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .inline-sm-12 {
    float: left;
  }
  .banner-container {
    width: 750px;
  }
  .inline-sm-12 {
    width: 100%;
    float: left;
  }
  .box-block h1{

    font-size: 40px;
    }
}
@media (max-width: 767.5px) {
  .banner-left-side .btn-banner-theme {
    font-size: 20px;
  }
  .box-block h1{

font-size: 30px;
}
  .banner-left-side h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 62px;
    font-weight: 300;
  }
}
@media (min-width: 992px) {
  .inline-md-5 {
    width: 41.66666667%;
    float: left;
  }
  .inline-md-7 {
    width: 58.33333333%;
    float: left;
  }
  .banner-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .banner-container {
    width: 1170px;
  }
}


/* mainContentOfWaqar */


.xentr-top-section {
    display: none;
}
.p-pageWrapper .p-body-inner {
    max-width: 100%;
}
.block-row {
    padding: 0px 0px 0px 0px;
}

.content
{
	background: url(https://beersurveys.com/Scripts/default/assets/css/images/main-bg.jpg) no-repeat left top;
	    width: 100%;
}

.row
{
	display: flex;
}

.banner-left{
	margin-top: 60%;
    width: 105%;
    margin-left: 40%;
}

.join{
	font-size: 28px;
	color: #fff;
}
 .rewards {
    font-family: 'Oswald';
    color:#fff;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 300;
	 text-align: center;
	  margin-top: 0px;
}
.works
{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}
	span{
		color:rgb(220, 218, 84);
	}
.joinbutton {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: background-color 0.125s ease, border-color 0.125s ease, color 0.125s ease;
    transition: background-color 0.125s ease, border-color 0.125s ease, color 0.125s ease;
    font-size: 13px;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    text-align: center;
    color: #f5f6f9;
    background: #63b2f5;
    border-color: #4ba6f3 #7bbef7 #7bbef7 #4ba6f3;
}
.video-section
{
	 margin-right: 10%;
    width: 62%;
}

.video-container {
    padding-left: 3%;
    padding-right: 4%;
    margin-bottom: 5%;
    background-color: black;
    width: 71%;
    margin-left: 40%;
}
.block-container {
   
    background: black;
   
}
.blockMessage.blockMessage--error {
    
    display: none;
}
.p-body-header {
    padding-top: 0px!important;
    display: none;
}
.p-body-inner {
    padding-top: 0px!important;
    
}
.blockMessage.blockMessage--none {
     display: none;
}
.breadcrumb-content .p-breadcrumbs {
    display: none;
}