<div class="block-container">
		<xf:if is="$ads is not empty">
				<ul class="block-body js-myAlertsTarget">
						<xf:foreach loop="$ads" value="$ad">
							<xf:macro  name="items_list"
							arg-thread="{$ad}"
							 />
						</xf:foreach>	
				</ul>
				<div class="block-footer js-myLoadMore">
					<span class="block-footer-controls"><xf:button href="{{ link('members/ads', $user, {'before_id': $oldestItemId}) }}"
							rel="nofollow"
							data-xf-click="inserter"
							data-append=".js-myAlertsTarget"
							data-replace=".js-myLoadMore">
							{{ phrase('show_older_items') }}
						</xf:button></span>
				</div>
			<xf:elseif is="$beforeId" />
				<div class="block-body ">
					<div class="block-row block-row--separated">{{ phrase('there_no_more_items_to_show') }}</div>
				</div>
			<xf:else />
				<div class="block-body  ">
					<div class="block-row">{{ phrase('fs_ads_not_found') }}</div>
				</div>
			</xf:if>
		
</div>



<xf:macro name="items_list"
	arg-thread="!">
	
		<li class="block-row block-row--separated js-inlineModContainer" data-author="{{ $thread.User.username ?: $thread.username }}">
	<div class="contentRow {{ !$thread.isVisible() ? 'is-deleted' : '' }}">
		<span class="contentRow-figure">
			<xf:avatar user="{$thread.User}" size="s" defaultname="{$thread.username}" />
		</span>
		<div class="contentRow-main">
			<h3 class="contentRow-title">
				<a href="{{ link('threads', $thread) }}">{{ prefix('thread', $thread) . highlight($thread.title, $options.term) }}</a>
			</h3>
<xf:comment>
			<div class="contentRow-snippet">{{ $thread.custom_fields.overall_experience ? $thread.custom_fields.overall_experience : ''}}</div>
</xf:comment>
			<div class="contentRow-minor contentRow-minor--hideLinks">
				<ul class="listInline listInline--bullet">
					<li><xf:username user="{$thread.User}" defaultname="{$thread.username}" /></li>
					<li><xf:date time="{$thread.post_date}" /></li>
					
				</ul>
			</div>
		</div>
	</div>
</li>

</xf:macro>