<xf:title page="{$page}">{{ phrase('fs_escrow_page_title') }}</xf:title>
		<xf:macro template="notice_macros" name="notice_list" arg-type="block" arg-notices="{$rules}" />

<div class="block-container">
    <div class="block-body">
		<xf:pageaction>
			<xf:if is="$xf.visitor.user_id!=0">
				 <xf:button
					href="{{ link('escrow/add') }}"
					class="button--cta"
					icon="write"
					>{{ phrase('fs_escrow_add') }}</xf:button>
			</xf:if>
		</xf:pageaction>
		
		<!--start --->
	
		<xf:if is="$xf.visitor.user_id!=0">
    	<xf:macro name="search_menu" arg-conditions="{$conditions}" />
				<div class="structItemContainer">
					<xf:if is="$escrows is not empty">
						<xf:foreach loop="$escrows" value="$escrow">
							<xf:if is="$escrow.Thread">
								  <xf:macro
									template="fs_escrow_list_macro"
									name="listing"
									arg-listing="{$escrow}"
									arg-type=""
								  />
							</xf:if>
						</xf:foreach>
					<xf:else />
					  <div class="block-row">
						{{ phrase('no_any_data_found') }}
					  </div>
					</xf:if>
			  </div>
				<div class="block-footer">
					<div class="block-body block-row">
					  <dl class="pairs pairs--justified">
						<dt><span class="block-footer-counter">{{ display_totals($escrows, $total) }}</span></dt>
							<dd>
								<xf:pagenav
											page="{$page}"
											perpage="{$perPage}"
											total="{$total}"
											link="escrow"
											data="{$escrows}"
											params="{$conditions}"
											wrapperclass="block-outer-main"
											/>
						  </dd>
					  </dl>
					</div>
			  </div>
		
			<xf:else />
				<div class="blockMessage">{{ phrase('fs_escrow_you_must_login') }}</div>
				
			</xf:if>
		<xf:sidenav>
			<xf:macro
					  template="fs_escrow_list_macro"
					  name="fs_escrow_Count"
					  arg-escrowsCount="{$escrowsCount}"
					  arg-isSelected="{$isSelected.type}"
					  />

			<xf:macro
					  template="fs_escrow_list_macro"
					  name="fs_escrow_stats"
					  arg-stats="{$stats}"
					  />
		</xf:sidenav>
	
				

		
		
		
		
		
		
		
		
		
		
<!-- Filter Bar Macro Start -->
<xf:macro name="search_menu" arg-conditions="!">
  <div class="block-filterBar">
    <div class="filterBar">
      <a
        class="filterBar-menuTrigger"
        data-xf-click="menu"
        role="button"
        tabindex="0"
        aria-expanded="false"
        aria-haspopup="true"
        >{{ phrase('filters') }}</a
      >
      <div
        class="menu menu--wide"
        data-menu="menu"
        aria-hidden="true"
        data-href="{{ link('escrow/refine-search', null, $conditions)}}"
        data-load-target=".js-filterMenuBody"
      >
        <div class="menu-content">
          <h4 class="menu-header">{{ phrase('show_only:') }}</h4>
          <div class="js-filterMenuBody">
            <div class="menu-row">{{ phrase('loading...') }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</xf:macro>
		

		<!---end --->
    
    </div>
 </div>