<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="escrow" format=":int&lt;escrow_id&gt;/:page" controller="FS\Escrow:Escrow"/>
  <route route_type="public" route_prefix="escrow" format=":int&lt;escrow_id&gt;/:page" controller="FS\Escrow:Escrow" context="fs_escrow"/>
</routes>
