<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="public" route_prefix="whats-new" sub_name="answers" format="answers/:int&lt;find_new_id&gt;/:page" controller="FS\QuestionAnswers:WhatsNewAnswer" context="forums"/>
  <route route_type="public" route_prefix="whats-new" sub_name="questions" format="questions/:int&lt;find_new_id&gt;/:page" controller="FS\QuestionAnswers:WhatsNewQuestion" context="forums"/>
</routes>
